<h2>Edit Employee</h2>
<div class="container">
    <form name="frmEmp">
        <div class="form-group">
            <label>EmpNo</label>
            <input type="text" class="form-control" name="EmpNo" [(ngModel)]="emp.EmpNo">
        </div>
        <div class="form-group">
            <label>EmpName</label>
            <input type="text" class="form-control" name="EmpName" [(ngModel)]="emp.EmpName">
        </div>
        <div class="form-group">
            <label>DeptName</label>
            <select class="form-control" name="DeptName" [(ngModel)]="emp.DeptName">
        <!--Use *ngFor to generate options-->
        <option *ngFor="let d of depts" value="{{d}}">{{d}}</option>
      </select>
        </div>
        <div class="form-group">
            <label>Salary</label>
            <input type="text" class="form-control" name="Salary" [(ngModel)]="emp.Salary">
        </div>
        <div class="form-group">
            <input type="button" value="New" (click)="clear()" class="btn btn-warning">
            <input type="button" value="Save" (click)="save()" class="btn btn-success">
        </div>
    </form>
</div>
<a [routerLink]="['']">Back to List</a>