<h1>The Angular Application</h1>
<h2>Hello World</h2>
<!--Using the Interpolation-->
<div class="container">
    {{name}}
    <br> {{2 + 3}}
</div>
<br>
<!--The Property Binding-->
<input type="text" [value]="name" class="form-control">
<br>
<a [href]="url">Web Net Helper</a>
<br>
<!-- The Event Binding -->
<input type="button" class="btn btn-warning" value="Click Me" (click)="display()">
<br>
<!--Two-Way Binding-->
<input type="text" [(ngModel)]="fullName" class="form-control">
<br>
<input type="text" [(ngModel)]="fullName" class="form-control">
<br>
<input type="text" [(ngModel)]="fullName" class="form-control">
<br>
<div class="container"><strong>
    {{fullName}}
  </strong> </div>